body {
  background-image: url("../images/black.jpg");
}

#page-wrapper {
  width: 960px;
  margin: 0 auto;
}

#header {
  position: relative;
}

#header h1 {
}

#header a#logo1 img {
}

#header #toplink {
}

#footer {
}

#content-wrapper {
  background-image: url("../images/repeating.png");
  float: left;
}

#main-content {
}

h2 strong {
}

.image-r {
}

#side-content{
}

#main-nav {
}

#main-nav ul {
}

#main-nav ul li {
}

#main-nav ul li a {
}

#main-nav ul li a:hover {
}

#center {
}

strong {
}